ansible==2.5.2
appdirs==1.4.3
asn1crypto==0.22.0
bcrypt==3.1.4
boto==2.48.0
boto3==1.7.10
botocore==1.10.10
certifi==2018.4.16
cffi==1.10.0
chardet==3.0.4
click==6.7
CouchDB==1.2
cryptography==1.8.1
docutils==0.13.1
Flask==1.0.1
Flask-OAuth2-Login==0.0.9
Flask-SSLify==0.1.5
idna==2.5
inventory==1.1.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.2
lxml==4.2.1
MarkupSafe==1.0
mpi4py==3.0.0
nltk==3.3
oauthlib==2.0.7
packaging==16.8
paramiko==2.1.2
psycopg2==2.7.4
pyasn1==0.2.3
pycouchdb==1.14
pycparser==2.17
pycrypto==2.6.1
PyNaCl==1.2.1
pyparsing==2.2.0
python-dateutil==2.6.0